{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "object-curly-spacing": 0,
    "require-jsdoc": 0,
    "quotes": "off",
    "comma-dangle": "off",
    "semi": "off",
    "operator-linebreak": "off"
  },
  "extends": [
    "google"
  ]
}