@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  right: 0;
  left: 0;
  top: $header-height + $formula-height + $toolbar-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .table__row {
    display: flex;
    flex-direction: row;
    height: $row-height;
  }

  .table__row__info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    background-color: #f8f9fa;
  }

  .table__row__data {
    display: flex;
  }

  .table__column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    width: $cell-width;
    height: 100%;
    min-width: 40px;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
  }

  .table__row__cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    background-color: #e2e3e3;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    white-space: nowrap;
    outline: none;

    .selected {
        border: none;
        outline: 2px solid rgb(121, 121, 228);
        z-index: 2;
    }
  }
}
